body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1190px;
    margin: auto;

    .errmsg {
        width: 800px;
        margin: 100px auto;
        border: 1px solid #ccc;
        padding: 20px 30px;

        h3 {
            padding: 0;
            margin: 0;
            font-size: 20px;
            color: #900;
            border-bottom: 1px solid #500;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
            font-style: italic;
            color: #555;
            padding: 0;
            margin: 0;
        }
    }
}

.mediaList {
    margin: 25px auto;
    padding: 0;
    list-style: none;

    .mediaItem {
        border-top: 1px solid #eee;
        display: table;
        width: 100%;

        &:last-child {
            border-bottom: 1px solid #eee;
        }

        a {
            padding: 15px 0;
            display: table-cell;
            vertical-align: middle;
            color: #222;
            text-decoration: none;
            position: relative;
            height: 150px;
            padding-left: 170px;

            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 15px;
            }

            h2 {
                padding: 0;
                margin: 0;
            }
            .desc {
                margin: 10px 0;
                font-size: 18px;
            }
            .date {
                font-size: 16px;
            }
        }
    }
}